# Rust build artifacts
server/target/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Test artifacts
*.profraw
*.profdata

# Node
node_modules/
server/static/css
server/static/app

# Swift
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
