@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius: 0.5rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0.014 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0.014 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0.014 285.823);
  --color-primary: oklch(0.205 0.014 285.823);
  --color-primary-foreground: oklch(0.985 0.002 285.823);
  --color-secondary: oklch(0.965 0.002 285.823);
  --color-secondary-foreground: oklch(0.205 0.014 285.823);
  --color-muted: oklch(0.965 0.002 285.823);
  --color-muted-foreground: oklch(0.556 0.014 285.823);
  --color-accent: oklch(0.965 0.002 285.823);
  --color-accent-foreground: oklch(0.205 0.014 285.823);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0.004 285.823);
  --color-input: oklch(0.922 0.004 285.823);
  --color-ring: oklch(0.87 0.006 285.823);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: oklch(0.985 0.002 285.823);
  --color-sidebar-foreground: oklch(0.145 0.014 285.823);
  --color-sidebar-primary: oklch(0.205 0.014 285.823);
  --color-sidebar-primary-foreground: oklch(0.985 0.002 285.823);
  --color-sidebar-accent: oklch(0.965 0.002 285.823);
  --color-sidebar-accent-foreground: oklch(0.205 0.014 285.823);
  --color-sidebar-border: oklch(0.922 0.004 285.823);
  --color-sidebar-ring: oklch(0.87 0.006 285.823);
}

.dark {
  --color-background: oklch(0.145 0.014 285.823);
  --color-foreground: oklch(0.985 0.002 285.823);
  --color-card: oklch(0.145 0.014 285.823);
  --color-card-foreground: oklch(0.985 0.002 285.823);
  --color-popover: oklch(0.145 0.014 285.823);
  --color-popover-foreground: oklch(0.985 0.002 285.823);
  --color-primary: oklch(0.985 0.002 285.823);
  --color-primary-foreground: oklch(0.205 0.014 285.823);
  --color-secondary: oklch(0.269 0.014 285.823);
  --color-secondary-foreground: oklch(0.985 0.002 285.823);
  --color-muted: oklch(0.269 0.014 285.823);
  --color-muted-foreground: oklch(0.711 0.007 285.823);
  --color-accent: oklch(0.269 0.014 285.823);
  --color-accent-foreground: oklch(0.985 0.002 285.823);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.269 0.014 285.823);
  --color-input: oklch(0.269 0.014 285.823);
  --color-ring: oklch(0.439 0.01 285.823);
  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.246 16.439);
  --color-sidebar: oklch(0.145 0.014 285.823);
  --color-sidebar-foreground: oklch(0.985 0.002 285.823);
  --color-sidebar-primary: oklch(0.488 0.243 264.376);
  --color-sidebar-primary-foreground: oklch(0.985 0.002 285.823);
  --color-sidebar-accent: oklch(0.269 0.014 285.823);
  --color-sidebar-accent-foreground: oklch(0.985 0.002 285.823);
  --color-sidebar-border: oklch(0.269 0.014 285.823);
  --color-sidebar-ring: oklch(0.439 0.01 285.823);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
